<!DOCTYPE html>
<html lang="pt_br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link
        href="https://fonts.googleapis.com/css2?family=Archivo:wght@400;700&amp;family=Poppins:wght@400;600&amp;display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="css/partials/page-give-classes.css">
    <link rel="stylesheet" href="css/partials/header.css">
    <link rel="stylesheet" href="css/partials/forms.css">

    <link rel="shortcut icon" href="img/favicon.png">

    <title>Proffy | Sua plataforma de estudos online</title>
</head>

<body>
    <div class="container">
        <header class="page-header">
            <div class="top-bar-container">
                <a href="/">
                    <img src="img/icons/back.svg" alt="Voltar">
                </a>
                <img src="img/logo.svg" alt="Proffy">
            </div>
            <!--top-bar-container-->

            <div class="header-content">
                <strong>Que incrível que você quer dar aulas.</strong>
                <p>O primeiro passo é preencher este formuálario de inscrição.</p>
            </div>
            <!--header-content-->
        </header>
        <!--page-header-->

        <main>
            <form action="/save-classes" id="create-class" method="POST">
                <fieldset>
                    <legend>Seus dados</legend>

                    <div class="input-block">
                        <label for="name">Nome completo</label>
                        <input type="text" name="name" id="name" required>
                    </div>
                    <!--input-block-->

                    <div class="input-block">
                        <label for="avatar">Link da sua foto <small>(comece com https://)</small></label>
                        <input type="url" name="avatar" id="avatar" required>
                    </div>
                    <!--input-block-->

                    <div class="input-block">
                        <label for="whatsapp">Whatsapp <small>(somente números)</small></label>
                        <input type="number" name="whatsapp" id="whatsapp" required>
                    </div>
                    <!--input-block-->

                    <div class="textarea-block">
                        <label for="bio">Biografia</small></label>
                        <textarea name="bio" id="bio" required></textarea>
                    </div>
                    <!--textarea-block-->
                </fieldset>

                <fieldset>
                    <legend>Sobre a aula</legend>
                    <div class="select-block">
                        <label for="subject">Matéria</label>
                        <select name="subject" id="subject">
                            <option value="">Selecione uma opção</option>
                            {%for subject in subjects %}
                                <option value="{{loop.index}}">
                                    {{subject}}
                                </option>
                            {%endfor%}
                        </select>
                    </div>
                    <!--select-block-->

                    <div class="input-block">
                        <label for="cost">Custo da sua hora/aula
                            <small>(R$)</small>
                        </label>
                        <input name="cost" type="number" id="cost" type="cost" required>
                    </div>
                </fieldset>

                <fieldset id="schedule-items">
                    <legend>Horários disponíveis
                        <button type="button" id="add-time">+ Novo Horário</button>
                    </legend>

                    <div class="schedule-item">
                        <div class="select-block">
                            <label for="weekday">Dia da semana</label>
                            <!--o colchete sever para informar o backend que o weekday pode vir com mais de um valor-->
                            <select name="weekday[]">
                                <option value="">Selecione uma opção</option>
                                {%for weekday in weekdays %}
                                    <option value="{{loop.index0}}">
                                        {{weekday}}
                                    </option>
                                {%endfor%}
                            </select>
                        </div>
                        <!--select-block-->

                        <div class="input-block">
                            <label for="time-from">Das</label>
                            <input type="time" id="time-from" name="time_from[]" required>
                        </div>
                        <!--input-block-->

                        <div class="input-block">
                            <label for="time-to">Até</label>
                            <input type="time" id="time-to" name="time_to[]" required>
                        </div>
                        <!--input-block-->

                    </div>
                    <!--schedule-item-->
                </fieldset>
            </form>

            <footer>
                <p>
                    <img src="img/icons/warning.svg" alt="Aviso importante">
                    importante! <br> Preencha todos os dados.
                </p>
                <button type="submit" form="create-class">Salvar cadastro</button>
            </footer>
        </main>
    </div>
    <!--container-->

    <script>
        //document.querySelector('.container').style.backgroundColor = 'red';
    </script>
    <script src="scripts/add-field.js"></script>
</body>

</html>